@import "../../App.scss";

.nav__container {
  height: 10vh;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  z-index: 4;

  .nav__desktopNavigation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .desktopNavigation__background {
      background-color: $seventh-color;
      clip-path: polygon(68% 0, 96% 25%, 58% 100%, 0 100%, 0 0);
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      @media (min-width: 1024px) {
        clip-path: none;
        height: 100%;
      }
    }

    .desktopNavigation__list {
      align-content: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;

      @media (min-width: 1024px) {
        align-content: center;
        flex-direction: row;
        justify-content: start;
      }

      .desktopNavigation__element {
        display: flex;
        justify-content: start;
        margin-right: 20px;
        z-index: 1;

        @media (min-width: 1024px) {
          align-content: center;
          justify-content: center;
        }

        .desktopNavigation__link {
          color: $sixth-color;
          margin: 10px;
          text-decoration: none;
          transition: font-size 0.2s 0.1s;
        }

        .desktopNavigation__link:hover {
          font-size: 1.2em;
        }
      }
    }

    @media (min-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }

  .nav__mobileNavigation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: -200%;
    position: fixed;
    transition: left 0.4s ease-out 0.1s;
    width: 50%;

    .mobileNavigation__background {
      background-color: $eighth-color;
      clip-path: polygon(68% 0, 96% 25%, 58% 100%, 0 100%, 0 0);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .mobileNavigation__list {
      align-content: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;

      .mobileNavigation__element {
        display: flex;
        justify-content: start;
        margin-right: 20px;
        z-index: 1;

        .mobileNavigation__link {
          color: #000;
          margin-top: 10px;
          text-decoration: none;
        }
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }

    @media (max-width: 1023px) {
      display: flex;
    }
  }

  .visible {
    left: 0;
  }
}
