@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;700;800&display=swap");

$primary-color: rgba(22, 115, 159, 0.8);
$secondary-color: rgba(255, 255, 255, 0.7);
$third-color: rgba(0, 0, 0, 0.9);
$fourth-color: rgba(0, 0, 0, 0.1);
$fifth-color: rgb(255, 255, 255);
$sixth-color: rgb(0, 0, 0);
$seventh-color: rgba(22, 115, 159, 1);
$eighth-color: rgba(255, 255, 255, 0.9);

.App {
  align-items: center;
  background: url(/img/fuji.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  font-family: "Baloo Tammudu 2", cursive;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.background {
  background-color: $fourth-color;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

:export {
  primary-color: $primary-color;
  secondary-color: $secondary-color;
  third-color: $third-color;
  fourth-color: $fourth-color;
  fifth-color: $fifth-color;
  sixth-color: $sixth-color;
}
