@import "../../App.scss";

.forecast__container {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100vw;
  z-index: 2;

  .forecast__loading {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }

  .forecast__error {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
  }

  .forecast__currentWeather_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-width: 320px;
    width: 90%;

    .currentWeather__header {
      color: $fifth-color;
    }

    .currentWeather__todayWeather {
      background-color: $primary-color;
      border-radius: 10px;
      padding: 30px;
      width: 70%;

      .currentWeather__icon {
        width: 80px;
      }

      .currentWeather__paragraph {
        .currentWeather__span {
          color: $fifth-color;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
    }

    @media (min-width: 1024px) {
      width: 45%;
    }
  }

  @media (min-width: 1024px) {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
