@import "../../App.scss";

.home__container {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100vw;
  z-index: 2;

  .home__loading {
    margin-left: 30px;
    font-size: 1.5rem;
  }

  .home__error_header {
    padding: 20px;
  }

  .home__currentWeather {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;

    .home__icon {
      width: 80px;
    }

    .home__header {
      color: $fifth-color;
      display: inline-block;
      text-align: center;
      width: 100%;

      @media (min-width: 1024px) {
        margin-top: 20px;
        max-height: 50px;
      }
    }

    .home__weatherDetails {
      background-color: $primary-color;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 40px;
      padding-left: 30px;
      width: 70%;

      .weatherDetails__paragraph {
        .weatherDetails__span {
          color: $fifth-color;
          font-weight: 600;
          text-transform: capitalize;
        }
      }

      @media (min-width: 1024px) {
        min-width: 246px;
        width: 45%;
      }
    }

    @media (min-width: 1024px) {
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      width: 45%;
    }
  }
  @media (min-width: 1024px) {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
