@import "../../App.scss";

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .labelInput__container {
    padding-left: 10px;
    text-align: center;
    width: 100%;

    .form__label {
      color: $fifth-color;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      padding-left: 0;
      width: 350px;
    }
  }

  .form__input {
    background-color: $third-color;
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 30px;
    margin: 10px;
    width: 30%;
    z-index: 2;

    @media (min-width: 1024px) {
      width: 200px;
    }
  }

  .form__input::placeholder {
    color: $secondary-color;
    padding-left: 10px;
  }

  #submit {
    cursor: pointer;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
