@import "../../App.scss";

.dailyForecastContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  min-width: 311px;
  width: 100%;

  .header {
    color: $fifth-color;
    text-align: center;

    @media (min-width: 1024px) {
      margin-top: 20px;
      max-height: 50px;
      max-width: 30%;
    }
  }

  .weekDailyForecast {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .dayForecast {
      background-color: $primary-color;
      border-radius: 10px;
      min-height: 600px;
      margin-bottom: 10px;
      margin-left: 0;
      padding-bottom: 10px;
      padding-left: 30px;
      margin-right: 0;
      padding-top: 20px;
      width: 75%;

      .secondHeader {
        margin: 0;
      }

      .icon {
        width: 80px;
      }

      @media (min-width: 1024px) {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-height: 500px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
        width: 300px;
      }
    }

    .paragraph {
      .span {
        color: $fifth-color;
        font-weight: 600;
        text-transform: capitalize;
      }

      @media (min-width: 1024px) {
        margin: 0;
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    margin-top: 20px;
    padding: 25px;
    padding-top: 0;
    width: 50%;
  }
}
