@import "../../App.scss";

.footer {
  background-color: $seventh-color;
  color: $sixth-color;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 100px;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  width: 100vw;
  z-index: 3;
}
